ERP_API_URL_NEWSHOP=https://newshop.varejofacil.com
ERP_API_USERNAME_NEWSHOP=
ERP_API_PASSWORD_NEWSHOP=
ERP_API_TOKEN_NEWSHOP=
ERP_API_LOJA_ID_NEWSHOP=2

ERP_API_URL_SOYE=https://soye.varejofacil.com
ERP_API_USERNAME_SOYE=
ERP_API_PASSWORD_SOYE=
ERP_API_TOKEN_SOYE=
ERP_API_LOJA_ID_SOYE=1

ERP_API_URL_FACIL=https://facil.varejofacil.com
ERP_API_USERNAME_FACIL=
ERP_API_PASSWORD_FACIL=
ERP_API_TOKEN_FACIL=
ERP_API_LOJA_ID_FACIL=1
